html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Chicle', cursive;
    background-color: white;
    color: black;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    height: 150px;
    width: 100%;
    margin: 0;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
}

h1 {
    font-size: 5rem;
    padding: 15px;
    letter-spacing: 7px;
    text-transform: capitalize;
}

button {
    font-family: 'Chicle', cursive;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #E4E4F6;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.625);
}

button:hover {
    opacity: .5;
    cursor: pointer;
}

#nav {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #E4E4F6;
    padding: 25px;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

label {
    padding: 8px 0;
    font-size: 1.5rem;
    color: black;
}

form button {
    width: 20%;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    text-transform: uppercase;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.625);
}

input {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    background-color: white;
    padding: 7px;
    margin-bottom: 30px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
}

::placeholder {
    color: #c5c5f3;
}


