/* add home page styles here */

#bulletin-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    border: 3px solid pink;
    border-radius: 20px;
    height: 90vh;
    width: 90vh;
}

.bulletin-post {
    height: 200px;
    width: 200px;
    border: 3px solid pink;
    border-radius: 20px;
    padding: 10px;
}